/*****************************************************************************/
/* Reset
/*****************************************************************************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    /*font-family: Tahoma, sans-serif;*/
}
body {
    line-height: 1
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}
nav ul {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}
del {
    text-decoration: line-through
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}
input, select {
    vertical-align: middle
}
/*****************************************************************************/
/* Global
/*****************************************************************************/

a {
    -moz-user-select: none;
    -webkit-user-select: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}
h1 {
    font-size: 40px;
}
body {
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    display: inline-block;
    margin: 10px;
}
body, kbd {
    font: 12px "Droid Sans Mono", monospace;
}
dt {
    clear: left;
    float: left;
    width: 50px;
}
dd {
    float: left;
}
h2, h3 {
    font-weight: normal;
}
h2 {
    margin-bottom: 10px;
}
h3 {
    text-align: center;
}
p {
    margin-bottom: 30px;
}
ul {
    list-style: none;
}
#pages > * {
    background-color: #FFF;
    display: none;
    position: absolute;
}
/*****************************************************************************/
/* Start page
/*****************************************************************************/

#pages-start h1 {
    margin:30px;
    text-align: center;
}

#pages-start {
    display: block;
    height: 450px;
    padding: 0 50px 105px 50px;
    width: 700px;
    color: white;
	background: url("images/wallpapers/start.jpg") no-repeat center -158px #000;
	background-size: 101% auto;
	font-family: Tahoma, sans-serif;
}
#pages-start-maps {
    float: left;
    position: relative;
    left:50px;
	margin-top: 220px;
}

h2{
   font-size:140%;
   color:#CCCCCC;
}
#pages-start-maps > a {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color:#CCCCCC;
}
#pages-start-maps > a > img {
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    display: block;
    height: 50px;
    width: 80px;
    border: 1px solid #118ec1;
    text-align: center;
    position:relative;
    left: 5px;
	box-shadow: 0px 0px 15px rgba(180,254,254,0.5);
	border-radius: 3px;
}
#pages-start-maps > a > img:hover {
	border: 1px solid #fff;
	box-shadow: 0px 0px 15px rgba(180,254,254,0.8);
}
#pages-start-info {
    float: right;
    height: 450px;
    text-align: justify;
    width: 445px;
    color:white;
    position: relative;
    left:-75px;
	margin-top: 210px;

}
#pages-start-info h2 {
	cursor: pointer;
	background: #092d2f;
	background: -moz-linear-gradient(top,  #092d2f 0%, #547476 48%, #345858 49%, #4f4c49 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#092d2f), color-stop(48%,#547476), color-stop(49%,#345858), color-stop(100%,#4f4c49));
	background: -webkit-linear-gradient(top,  #092d2f 0%,#547476 48%,#345858 49%,#4f4c49 100%);
	background: -o-linear-gradient(top,  #092d2f 0%,#547476 48%,#345858 49%,#4f4c49 100%);
	background: -ms-linear-gradient(top,  #092d2f 0%,#547476 48%,#345858 49%,#4f4c49 100%);
	background: linear-gradient(to bottom,  #092d2f 0%,#547476 48%,#345858 49%,#4f4c49 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092d2f', endColorstr='#4f4c49',GradientType=0 );
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #7998a0;
	opacity: 0.8;
	margin: 5px 10px;
}
#pages-start-info h2:hover {
	opacity: 1;
	color: #fff;
}
#pages-start-info dl, #pages-start-info ul, #pages-start-info p {
	font-size: 13px;
}
 #pages-start-info ul {
	padding-left: 30px;
	margin-top: 10px;
 }
 #pages-start-info dl {
	display: block;
	overflow: hidden;
 }
  #pages-start-info dt {
	color: #CCCCCC;
 }
#pages-start-info div {
margin: -5px 10px 5px 10px;
padding: 10px 20px;
background: rgba(180,254,254,0.1);
}
#pages-start-links {
    bottom: 5px;
    position: absolute;
}
#about,#authors,#hotkeys,#credits,#instructions {
    display: block;
    text-align: center;
    margin: 10px;
}
#about-text,#authors-text,#hotkeys-text,#credits-text,#instructions-text{
    display:none;
    text-align: center;
    color: #CCCCCC;
}

#credit-list {
	list-style-type: square;
	text-align: left;
}

/*****************************************************************************/
/* Overlay page
/*****************************************************************************/

#pages-overlay {
    height: 550px;
    opacity: 0.3;
    width: 800px;
}
/*****************************************************************************/
/* Scores page
/*****************************************************************************/

#pages-scores {
    height: 550px;
    width: 800px;
    z-index: 1;
}
#pages-scores > h3, #pages-scores > ul {
    display: inline-block;
    margin: 5px 0;
    padding: 0 10px;
    vertical-align: top;
    width: 245px;
    /* should be 246px? */
}
#pages-scores >:nth-child(3n+2) {
    border: solid #DDD;
    border-width: 0 1px;
    margin: 5px -7px;
}
#pages-scores > ul {
    font-size: 10px;
}
#pages-scores > ul > li > a {
    -o-text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    width: 90px;
}
#pages-scores-back {
    left: 10px;
    position: absolute;
    top: 5px;
}
#pages-scores-twitter-backtrack {
    height: 434px;
}
#pages-scores-local-backtrack {
    height: 70px;
}
/*****************************************************************************/
/* About page
/*****************************************************************************/

#pages-about {
    height: 530px;
    padding: 10px;
    text-align: justify;
    width: 780px;
}
#pages-about-logo {
    display: block;
    margin: 45px auto 0 auto;
}
#pages-about-back {
    bottom: 5px;
    left: 10px;
    position: absolute;
}
/*****************************************************************************/
/* Control panel
/*****************************************************************************/
.status-bar{
    background-image: url("images/menu/stats-background.png");
    height: 75px;
    width:75px;
    color:white;
    font-family: 'Forum', cursive;
}

#status-bar >h1 {
    font-weight: bold;
}
#control {
    background-color: #000000 ;
    color: #FFFFFF!important;
    font-size: 14px !important;
    height: 50px;
    margin-top: 500px;
    padding: 4px 6px 2px 6px;
    width: 788px;
    font-size: 110%;

    font-family: 'Forum', cursive;
}
#control-left {
    float: left;
}
#control-left > div {
    display: none;
}
#control-turrets > a {
    float: left;
    text-align: center;
    width: 90px;

}
#control-turrets > img {
    width:25px;
    height:25px;
}

#control-manage > a, #control-manage-stats {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    float: left;
    height: 40px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    width: 65px;
    color:white !important;
}
#control-manage-stats {
    border-color: #000;
}
#control-score {
    position: relative;
}
#control-right {
    float: right;

}
#control-right-1, #control-right-2, #control-right-3 {
    float: left;
}

#control-right-1{
    width: 100px;
    display: flex;
}

#control-right-2{
    width:145px;
    background-image: url("images/menu/textbackground.png");
    background-size:100%;
    background-repeat: no-repeat;
    min-width: 60px;
    padding: -10px 10px;
}

#control-right-3{
    width:80px;
}

#control-timer {
    background-image: url("images/menu/radioActive.png");
    background-size:60%;
    background-repeat: no-repeat;
    display: block;
    left:20px;
    height: 40px;
    margin-bottom: 2px;
    width: 65px;
    margin-top: 8px;
}


#control-fast {
    background-image: url("images/menu/handleDown.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    margin-bottom: 2px;
    width: 40px;
    margin-right: 15px;
    margin-top: 8px;
}
.control-fast-up{
    background-image: url("images/menu/handleUp.png")!important;
}

.control-pause{
    background-image: url("images/menu/unpaused.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.control-unpause{
    background-image: url("images/menu/paused.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


.control-reset{
    background-image: url("images/menu/reset.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.hidden-images img {
	display: none;
}
html {
	background: url(images/wallpapers/stars.jpg) no-repeat center #000;
	text-align: center;
}
.loopy {
	background: url(images/wallpapers/loopy.jpg) no-repeat center #000;
	background-size: cover;
}

.backtrack {
	background: url(images/wallpapers/space.jpg) no-repeat center #000;
	background-size: cover;
}

.dash {
	background: url(images/wallpapers/dash3.jpg) no-repeat center #000;
	background-size: cover;
}
#logo{
	width: 60%;
	position: absolute;
	left: 50%;
	margin-left: -250px;
}
@-webkit-keyframes appear {
  0%, 50%        {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}
@-moz-keyframes appear {
  0%, 50%        {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}
@-o-keyframes appear {
  0%, 50%        {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}
@keyframes appear {
  0%, 50%        {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}
#logo_img{
	width: 60%;
	background: url(images/wallpapers/logo.png) no-repeat 4px 10px;
	background-size: 475px auto;
	height: 300px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	animation: appear 4s ease;
}

#svg-conrainer{
    width: 800px;
    height: 500px;
    background-color: rgba(100,100,100,0.6);
    display: none
}
#svg-conrainer #pauseCircle{
    fill: rgba(50,50,50,0.7);
}
#svg-conrainer #arrow{
    fill: rgba(150,150,150,0.7);
 }
#svg-conrainer #arrow:hover{
    fill: rgba(200,200,200,0.7);
 }
 
@-webkit-keyframes sparkle {
  0%        {
  stroke: #fff;
  }
  30%       {
  stroke: #5feaff;
  }
  60%       {
  stroke: #000;
  }
  100% {
  stroke: #fff;
  }
}
@-moz-keyframes sparkle {
  0%        {
  stroke: #fff;
  }
  30%       {
  stroke: #5feaff;
  }
  60%       {
  stroke: #000;
  }
  100% {
  stroke: #fff;
  }
}
@-o-keyframes sparkle {
  0%        {
  stroke: #fff;
  }
  30%       {
  stroke: #5feaff;
  }
  60%       {
  stroke: #000;
  }
  100% {
  stroke: #fff;
  }
}
@keyframes sparkle {
  0%        {
  stroke: #fff;
  }
  30%       {
  stroke: #5feaff;
  }
  60%       {
  stroke: #000;
  }
  100% {
  stroke: #fff;
  }
}

#logo path {
  animation: sparkle 4s ease infinite;
  stroke-width: 2;
}
#logo path:nth-child(1) {animation-delay: .2s}
#logo path:nth-child(2) {animation-delay: .4s}
#logo path:nth-child(3) {animation-delay: .6s}
#logo path:nth-child(4){animation-delay: .8s}
#logo path:nth-child(5){animation-delay: 1s}
#logo path:nth-child(6){animation-delay: 1.2s}

#control-score {
	background: rgba(0,0,0,0.8);
	font-size: 16px;
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -220px;
	width: 400px;
	padding: 50px 20px;
	border-radius: 15px;
	font-family: Tahoma, sans-serif;
}
#control-score a {
	color: #00f0ff;
}